@{
    ViewData["Title"] = "Burial Database";
}

<h1>Burial Site Database</h1>

<p>Here is our database of the different burials our team has discovered.  Use our built in filters to explore the data.</p>


@model BurialmainsViewModel


<table class="table table-bordered table-striped">
    <thead class="font-weight-bold">
        <tr>
            <td>Burial ID (SquareNorthSouth, NorthSouth, SquareEastWest, EastWest, Area, Burial Number)</td>
            <td>Burial Depth</td>
            <td>Age at Death</td>
            <td>Sex</td>
            <td>Hair Color</td>
            <td>Estimated Stature</td>
            <td>Head Direction</td>
            <td>Textile color</td>
            <td>Textile Structure</td>
            <td>Textile Function</td>
        </tr>
    </thead>
    <tbody>
        @foreach (BurialComposite item in Model.ListBurials)
         {
                <tr key="@item.burial.Id">
                    <td>@(item.burial.Squarenorthsouth + item.burial.Northsouth + item.burial.Squareeastwest + item.burial.Eastwest + item.burial.Area + item.burial.Burialnumber)</td>
                    <td>@item.burial.Depth</td>
                    <td>@item.burial.Ageatdeath</td>
                    <td>@item.burial.Sex</td>
                    <td>@item.burial.Haircolor</td>
                    <td>Estimated Struct</td>
                    <td>@item.burial.Headdirection</td>
                    
                    <td>Textile color</td>
                    <td>Textile Structure</td>
                    <td>Textile Function</td>


                </tr>
         }
    </tbody>
</table>