@{
    ViewData["Title"] = "Burial Database";
}
<br>
<h1>Burial Site Database</h1>

<p>Here is our database of the different burials our team has discovered.  Use our built in filters to explore the data.</p>


@model BurialmainsViewModel


<table class="table table-bordered table-striped">
    <thead class="font-weight-bold">
        <tr>
            <td>Burial ID</td>
            <td>Burial Depth</td>
            <td>Age at Death</td>
            <td>Sex</td>
            <td>Hair Color</td>
            <td>Estimated Stature</td>
            <td>Head Direction</td>
            <td>Textile color</td>
            <td>Textile Structure</td>
            <td>Textile Function</td>
        </tr>
    </thead>
    <tbody>
        @foreach (Masterfilter item in Model.ListBurials)
         {
                <tr key="@item.Id">
                    <td><a asp-controller="Home" asp-action="DisplayBurial" asp-route-ID="@item.Id">@item.Burialid</a></td>
                    <td>@item.Depth</td>
                    <td>@item.Ageatdeath</td>
                    <td>@item.Sex</td>
                    <td>@item.Haircolor</td>
                    <td>@item.Estimatestature</td>
                    <td>@item.Headdirection</td>
                    <td>@item.Color</td>
                    <td>@item.TextileStructure</td>
                    <td>@item.Textilefunction</td>
                </tr>
         }
    </tbody>
</table>
<div page-action="Index">
    <div page-model="@Model.PageInfo" page-action="Index" page-classes-enabled="true"
         page-class="btn" page-class-normal="btn-outline-dark"
         page-class-selected="btn-primary" class="btn-group pull-right m-1">
    </div>

</div>