@{
    ViewData["Title"] = "Burial Database";
}

<h1>Burial Site Database</h1>

<p>Here is our database of the different burials our team has discovered.  Use our built in filters to explore the data.</p>


@model BurialmainsViewModel

    <form method="post">
        <label for="burialId">Burial ID:</label>
        <input type="text" id="burialId" name="burialId">

        <label for="depth">Burial Depth:</label>
        <input type="text" id="depth" name="depth">

        <vc:age-at-death></vc:age-at-death>

        <label for="sex">Sex:</label>
        <select id="sex" name="sex">
            <option value="">Select sex</option>
            <option value="M">Male</option>
            <option value="F">female</option>
        </select><br />

        <label for="hairColor">Hair Color:</label>
        <input type="text" id="hairColor" name="hairColor">

        <label for="estimatedStature">Estimated Stature:</label>
        <input type="text" id="estimatedStature" name="estimatedStature">

        <label for="headdirection">Head Direction:</label>
        <select id="headdirection" name="headdirection">
            <option value=""></option>
            <option value="W">West</option>
            <option value="E">East</option>
        </select><br />

        <label for="textilecolor">Textile color:</label>
        <input type="text" id="textilecolor" name="textilecolor"><br>

        <label for="textilestructure">Textile Structure:</label>
        <input type="text" id="textilestructure" name="textilestructure"><br>

        <label for="textileFunction">Textile Function:</label>
        <input type="text" id="textilefunction" name="textilefunction"><br>

        <input type="submit" value="Search">
    </form>

<div class="text-center m-3">
    
</div>

<table class="table table-bordered table-striped">
    <thead class="font-weight-bold">
        <tr>
            <td>Burial ID</td>
            <td>Burial Depth</td>
            <td>Age at Death</td>
            <td>Sex</td>
            <td>Hair Color</td>
            <td>Estimated Stature</td>
            <td>Head Direction</td>
            <td>Textile color</td>
            <td>Textile Structure</td>
            <td>Textile Function</td>
        </tr>
    </thead>
    <tbody>
        @foreach (Masterfilter item in Model.masterfilters)
         {
                <tr key="@item.Id">
                    <td><a asp-controller="Home" asp-action="DisplayBurial" asp-route-ID="@item.Id">@item.Burialid</a></td>
                    <td>@item.Depth</td>
                    <td>@item.Ageatdeath</td>
                    <td>@item.Sex</td>
                    <td>@item.Haircolor</td>
                    <td>@item.Estimatestature</td>
                    <td>@item.Headdirection</td>
                    <td>@item.Color</td>
                    <td>@item.TextileStructure</td>
                    <td>@item.Textilefunction</td>
                </tr>
         }
    </tbody>
</table>
<div page-action="Index">
    <div page-model="@Model.PageInfo" page-action="Index" page-classes-enabled="true"
         page-class="btn" page-class-normal="btn-outline-dark"
         page-class-selected="btn-primary" class="btn-group pull-right m-1">
    </div>

</div>