@model BurialComposite

@{
    ViewData["Title"] = "Burial Info";
}

<h1>@Model.BurialId Info</h1>


<table class="table table-bordered table-striped">
    <thead class="font-weight-bold">
        <tr>
            <td>Burial Depth</td>
            <td>Age at Death</td>
            <td>Sex</td>
            <td>Hair Color</td>
            <td>Estimated Stature</td>
            <td>Head Direction</td>
        </tr>
    </thead>
    <tbody>
        <tr key="@Model.burial.Id">
            <td>@Model.burial.Depth</td>
            <td>@Model.burial.Ageatdeath</td>
            <td>@Model.burial.Sex</td>
            <td>@Model.burial.Haircolor</td>
            <td>Estimatestature</td>
            <td>@Model.burial.Headdirection</td>
        </tr>
    </tbody>
</table>



@foreach (Textile textile in Model.textiles)
{
    <table class="table table-bordered table-striped">
        <caption>@textile.Id</caption>
        <thead class="font-weight-bold">
            <tr>
                <td>Textile color</td>
                <td>Textile Structure</td>
                <td>Textile Function</td>
            </tr>
        </thead>
        <tbody>
            <td>COLOR</td>
            <td>STRUCTURE</td>
            <td>FUNCTION</td>
        </tbody>
    </table>
}