@model BYU_EGYPT_INTEX.Models.Textile

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Textile</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Locale)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Locale)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Textileid)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Textileid)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Description)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Description)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Burialnumber)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Burialnumber)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Estimatedperiod)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Estimatedperiod)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Sampledate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Sampledate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Photographeddate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Photographeddate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Direction)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Direction)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
