@model BYU_EGYPT_INTEX.Models.Bodyanalysischart

@{
    ViewData["Title"] = "Delete";
}

<h1>Delete</h1>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Bodyanalysischart</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Femur)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Femur)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Humerusheaddiameter)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Humerusheaddiameter)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Squamossuture)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Squamossuture)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CariesPeriodontalDisease)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CariesPeriodontalDisease)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MedicalIpRamus)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MedicalIpRamus)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Perservationindex)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Perservationindex)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Gonion)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Gonion)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Humeruslength)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Humeruslength)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Femurlength)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Femurlength)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Lambdoidsuture)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Lambdoidsuture)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Ventralarc)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Ventralarc)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Tootheruptionageestimation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Tootheruptionageestimation)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Nuchalcrest)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Nuchalcrest)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Estimatestature)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Estimatestature)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Notes)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Notes)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Osteophytosis)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Osteophytosis)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Subpubicangle)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Subpubicangle)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Robust)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Robust)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Femurheaddiameter)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Femurheaddiameter)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Sciaticnotch)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Sciaticnotch)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Supraorbitalridges)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Supraorbitalridges)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Orbitedge)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Orbitedge)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Toothattrition)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Toothattrition)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Sphenooccipitalsynchondrosis)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Sphenooccipitalsynchondrosis)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Parietalblossing)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Parietalblossing)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Observations)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Observations)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Humerus)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Humerus)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-action="Index">Back to List</a>
    </form>
</div>
